.wrapper {
  height: 100vh;

  overflow-x: hidden;
  perspective: 2px;
  transform-style: preserve-3d;

  display: flex;
  flex-direction: column;
  grid-gap: 430px;

  &::-webkit-scrollbar{
    display: none;
  }
}

.section {
  position: relative;
  height: 85vh;
  min-height: 700px;
  transform-style: inherit;

  @media screen and (max-width: 992px) {
    min-height: 600px;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    transform: translateZ(-1px) scale(1.5);
    filter: brightness(0.75);
    -webkit-filter: brightness(0.75);
  }
}


.text {
  position: absolute;
  top: 80%;
  width: 100%;
  padding: 20px 0;

  color: white;
  text-shadow: 0 0 2px #000;
  text-align: center;
}

.bg-tag {
  position: absolute;
  left: 3vw;
  top: 6.5vh;
  font-size: 36px;
  border: 2px solid #fff;
  font-weight: 700;
  border-radius: 50px;
  padding: 5px 15px;
}

.bg1::before {
  background-image: url('../../assets/new-mockup-bkn.webp');
}

.bg2::before {
  background-image: url('../../assets/new-mockup-glossy.webp');
}

.bg3::before {
  background-image: url('../../assets/new-mockup-timbo.webp');
}

.bg4::before {
  background-image: url('../../assets/new-mockup-lgn.webp');
}

.bg5::before {
  background-image: url('../../assets/new-mockup-pizzita.webp');
}

.bg6::before {
  background-image: url('../../assets/4926327.webp');
}

.bg7::before {
  background-image: url('../../assets/new-mockup-village.webp');
}


.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;

    &:first-child {
      animation: glitch 500ms infinite;
      clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
      transform: translate(-0.04em, -0.03em);
      opacity: 0.75
    }

    &:last-child {
      animation: glitch 375ms infinite;
      clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
      transform: translate(0.04em, 0.03em);
      opacity: 0.75;
    }
  }
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}