@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --background-color: #23272D;
    --primary-text-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
}